# Basics of JSON

Matti Kuikka 19.9.2023
- Some examples with JSON
- Tasks for the assignment included

In [1]:
# Take libraries in use
import pandas as pd
import json # library to manage JSON data

## Create JSON data using dictionary

In [2]:
# Create dictionary
patients = {
         "Name":{"0":"John","1":"Nick","2":"Ali","3":"Joseph"},
         "Gender":{"0":"Male","1":"Male","2":"Female","3":"Male"},
         "Nationality":{"0":"UK","1":"French","2":"USA","3":"Brazil"},
         "Age" :{"0":10,"1":25,"2":35,"3":29}
}
print(patients)

{'Name': {'0': 'John', '1': 'Nick', '2': 'Ali', '3': 'Joseph'}, 'Gender': {'0': 'Male', '1': 'Male', '2': 'Female', '3': 'Male'}, 'Nationality': {'0': 'UK', '1': 'French', '2': 'USA', '3': 'Brazil'}, 'Age': {'0': 10, '1': 25, '2': 35, '3': 29}}

In [3]:
# Create list of dictionaries
cars = [
    {"Name":"Honda", "Price": 10000, "Model":2005, "Power": 1300},
    {"Name":"Toyota", "Price": 12000, "Model":2010, "Power": 1600},
    {"Name":"Audi", "Price": 25000, "Model":2017, "Power": 1800},
    {"Name":"Ford", "Price": 28000, "Model":2009, "Power": 1200},
         
]
print(cars)

[{'Name': 'Honda', 'Price': 10000, 'Model': 2005, 'Power': 1300}, {'Name': 'Toyota', 'Price': 12000, 'Model': 2010, 'Power': 1600}, {'Name': 'Audi', 'Price': 25000, 'Model': 2017, 'Power': 1800}, {'Name': 'Ford', 'Price': 28000, 'Model': 2009, 'Power': 1200}]

In [4]:
# Store JSON data to files

with open('patients.json', 'w') as f:
    json.dump(patients, f)
    
with open('cars.json', 'w') as f:
    json.dump(cars, f)

## Read JSON data from file

Read just created JSON files.

In [5]:
# Read previously created patients data file in JSON
df1 = pd.read_json('patients.json')
df1

     Name  Gender Nationality  Age
0    John    Male          UK   10
1    Nick    Male      French   25
2     Ali  Female         USA   35
3  Joseph    Male      Brazil   29

In [6]:
# Read previously created cars data file in JSON
df2 = pd.read_json('cars.json')
df2

     Name  Price  Model  Power
0   Honda  10000   2005   1300
1  Toyota  12000   2010   1600
2    Audi  25000   2017   1800
3    Ford  28000   2009   1200

### Example: Read JSON file stored remotely

In [7]:
# Read iris data from remote server
df = pd.read_json(
    "https://raw.githubusercontent.com/domoritz/maps/master/data/iris.json")
df.head(15)

    sepalLength  sepalWidth  petalLength  petalWidth species
0           5.1         3.5          1.4         0.2  setosa
1           4.9         3.0          1.4         0.2  setosa
2           4.7         3.2          1.3         0.2  setosa
3           4.6         3.1          1.5         0.2  setosa
4           5.0         3.6          1.4         0.2  setosa
5           5.4         3.9          1.7         0.4  setosa
6           4.6         3.4          1.4         0.3  setosa
7           5.0         3.4          1.5         0.2  setosa
8           4.4         2.9          1.4         0.2  setosa
9           4.9         3.1          1.5         0.1  setosa
10          5.4         3.7          1.5         0.2  setosa
11          4.8         3.4          1.6         0.2  setosa
12          4.8         3.0          1.4         0.1  setosa
13          4.3         3.0          1.1         0.1  setosa
14          5.8         4.0          1.2         0.2  setosa

## Serialization

In [8]:
# Take lirbary for JSON in use
import json

In [9]:
# create Python dictionary with some data
my_dictionary = {
    "name": "Esteri",
    "title": "CTO",
    "company": "Nokia",
    "age": 30,
    "emails": [{"email": "esteri@nokia.com", "type": "work"}],
    "neighbour": False}

unformatted_json = json.dumps(my_dictionary)
print(unformatted_json)

{"name": "Esteri", "title": "CTO", "company": "Nokia", "age": 30, "emails": [{"email": "esteri@nokia.com", "type": "work"}], "neighbour": false}

In [10]:
# json.dumps?

Signature:
json.dumps(
    obj,
    *,
    skipkeys=False,
    ensure_ascii=True,
    check_circular=True,
    allow_nan=True,
    cls=None,
    indent=None,
    separators=None,
    default=None,
    sort_keys=False,
    **kw,
)
Docstring:
Serialize ``obj`` to a JSON formatted ``str``.

If ``skipkeys`` is true then ``dict`` keys that are not basic types
(``str``, ``int``, ``float``, ``bool``, ``None``) will be skipped
instead of raising a ``TypeError``.

If ``ensure_ascii`` is false, then the return value can contain non-ASCII
characters if they appear in strings contained in ``obj``. Otherwise, all
such characters are escaped in JSON strings.

If ``check_circular`` is false, then the circular reference check
for container types will be skipped and a circular reference will
result in an ``RecursionError`` (or worse).

If ``allow_nan`` is false, then it will be a ``ValueError`` to
serialize out of range ``float`` values (``nan``, ``inf``, ``-inf``) in
strict compliance of the JSON specification, instead of using the
JavaScript equivalents (``NaN``, ``Infinity``, ``-Infinity``).

If ``indent`` is a non-negative integer, then JSON array elements and
object members will be pretty-printed with that indent level. An indent
level of 0 will only insert newlines. ``None`` is the most compact
representation.

If specified, ``separators`` should be an ``(item_separator, key_separator)``
tuple.  The default is ``(', ', ': ')`` if *indent* is ``None`` and
``(',', ': ')`` otherwise.  To get the most compact JSON representation,
you should specify ``(',', ':')`` to eliminate whitespace.

``default(obj)`` is a function that should return a serializable version
of obj or raise TypeError. The default simply raises TypeError.

If *sort_keys* is true (default: ``False``), then the output of
dictionaries will be sorted by key.

To use a custom ``JSONEncoder`` subclass (e.g. one that overrides the
``.default()`` method to serialize additional types), specify it with
the ``cls`` kwarg; otherwise ``JSONEncoder`` is used.
File:      c:\program files\windowsapps\pythonsoftwarefoundation.python.3.11_3.11.1520.0_x64__qbz5n2kfra8p0\lib\json\__init__.py
Type:      function

In [11]:
formatted_json = json.dumps(my_dictionary,
                            indent = 4,
                            separators = (", ", " = "),
                            sort_keys = True    )
print(formatted_json)

{
    "age" = 30,
    "company" = "Nokia",
    "emails" = [
        {
            "email" = "esteri@nokia.com",
            "type" = "work"
        }
    ],
    "name" = "Esteri",
    "neighbour" = false,
    "title" = "CTO"
}

## Deserialization

In [12]:
json_string = """
{
    "researcher": {
        "name": "Ford Prefect",
        "species": "Betelgeusian",
        "relatives": [
            {
                "name": "Zaphod Beeblebrox",
                "species": "Betelgeusian"
            }
        ]
    }
}
"""
data = json.loads(json_string)
print( data["researcher"]["relatives"])

[{'name': 'Zaphod Beeblebrox', 'species': 'Betelgeusian'}]

In [13]:
# New data can be added using 'append'
data["researcher"]["relatives"].append( {"name": "Esteri", "species": "human"} )
print( data["researcher"]["relatives"])

[{'name': 'Zaphod Beeblebrox', 'species': 'Betelgeusian'}, {'name': 'Esteri', 'species': 'human'}]

In [14]:
print(data)

{'researcher': {'name': 'Ford Prefect', 'species': 'Betelgeusian', 'relatives': [{'name': 'Zaphod Beeblebrox', 'species': 'Betelgeusian'}, {'name': 'Esteri', 'species': 'human'}]}}

### Tasks

Request the JSON –formatted user list from https://jsonplaceholder.typicode.com/users and form a new JSON that contains a list of the users with the following information only: name, phone number and geo location.

To make sure that you have formed the JSON correctly print the string.

In [15]:
import requests   # may need: pip install requests

response = requests.get("https://jsonplaceholder.typicode.com/users")
data = json.loads(response.text)
# just to have a look at the data
print(data)

[{'id': 1, 'name': 'Leanne Graham', 'username': 'Bret', 'email': 'Sincere@april.biz', 'address': {'street': 'Kulas Light', 'suite': 'Apt. 556', 'city': 'Gwenborough', 'zipcode': '92998-3874', 'geo': {'lat': '-37.3159', 'lng': '81.1496'}}, 'phone': '1-770-736-8031 x56442', 'website': 'hildegard.org', 'company': {'name': 'Romaguera-Crona', 'catchPhrase': 'Multi-layered client-server neural-net', 'bs': 'harness real-time e-markets'}}, {'id': 2, 'name': 'Ervin Howell', 'username': 'Antonette', 'email': 'Shanna@melissa.tv', 'address': {'street': 'Victor Plains', 'suite': 'Suite 879', 'city': 'Wisokyburgh', 'zipcode': '90566-7771', 'geo': {'lat': '-43.9509', 'lng': '-34.4618'}}, 'phone': '010-692-6593 x09125', 'website': 'anastasia.net', 'company': {'name': 'Deckow-Crist', 'catchPhrase': 'Proactive didactic contingency', 'bs': 'synergize scalable supply-chains'}}, {'id': 3, 'name': 'Clementine Bauch', 'username': 'Samantha', 'email': 'Nathan@yesenia.net', 'address': {'street': 'Douglas Extension', 'suite': 'Suite 847', 'city': 'McKenziehaven', 'zipcode': '59590-4157', 'geo': {'lat': '-68.6102', 'lng': '-47.0653'}}, 'phone': '1-463-123-4447', 'website': 'ramiro.info', 'company': {'name': 'Romaguera-Jacobson', 'catchPhrase': 'Face to face bifurcated interface', 'bs': 'e-enable strategic applications'}}, {'id': 4, 'name': 'Patricia Lebsack', 'username': 'Karianne', 'email': 'Julianne.OConner@kory.org', 'address': {'street': 'Hoeger Mall', 'suite': 'Apt. 692', 'city': 'South Elvis', 'zipcode': '53919-4257', 'geo': {'lat': '29.4572', 'lng': '-164.2990'}}, 'phone': '493-170-9623 x156', 'website': 'kale.biz', 'company': {'name': 'Robel-Corkery', 'catchPhrase': 'Multi-tiered zero tolerance productivity', 'bs': 'transition cutting-edge web services'}}, {'id': 5, 'name': 'Chelsey Dietrich', 'username': 'Kamren', 'email': 'Lucio_Hettinger@annie.ca', 'address': {'street': 'Skiles Walks', 'suite': 'Suite 351', 'city': 'Roscoeview', 'zipcode': '33263', 'geo': {'lat': '-31.8129', 'lng': '62.5342'}}, 'phone': '(254)954-1289', 'website': 'demarco.info', 'company': {'name': 'Keebler LLC', 'catchPhrase': 'User-centric fault-tolerant solution', 'bs': 'revolutionize end-to-end systems'}}, {'id': 6, 'name': 'Mrs. Dennis Schulist', 'username': 'Leopoldo_Corkery', 'email': 'Karley_Dach@jasper.info', 'address': {'street': 'Norberto Crossing', 'suite': 'Apt. 950', 'city': 'South Christy', 'zipcode': '23505-1337', 'geo': {'lat': '-71.4197', 'lng': '71.7478'}}, 'phone': '1-477-935-8478 x6430', 'website': 'ola.org', 'company': {'name': 'Considine-Lockman', 'catchPhrase': 'Synchronised bottom-line interface', 'bs': 'e-enable innovative applications'}}, {'id': 7, 'name': 'Kurtis Weissnat', 'username': 'Elwyn.Skiles', 'email': 'Telly.Hoeger@billy.biz', 'address': {'street': 'Rex Trail', 'suite': 'Suite 280', 'city': 'Howemouth', 'zipcode': '58804-1099', 'geo': {'lat': '24.8918', 'lng': '21.8984'}}, 'phone': '210.067.6132', 'website': 'elvis.io', 'company': {'name': 'Johns Group', 'catchPhrase': 'Configurable multimedia task-force', 'bs': 'generate enterprise e-tailers'}}, {'id': 8, 'name': 'Nicholas Runolfsdottir V', 'username': 'Maxime_Nienow', 'email': 'Sherwood@rosamond.me', 'address': {'street': 'Ellsworth Summit', 'suite': 'Suite 729', 'city': 'Aliyaview', 'zipcode': '45169', 'geo': {'lat': '-14.3990', 'lng': '-120.7677'}}, 'phone': '586.493.6943 x140', 'website': 'jacynthe.com', 'company': {'name': 'Abernathy Group', 'catchPhrase': 'Implemented secondary concept', 'bs': 'e-enable extensible e-tailers'}}, {'id': 9, 'name': 'Glenna Reichert', 'username': 'Delphine', 'email': 'Chaim_McDermott@dana.io', 'address': {'street': 'Dayna Park', 'suite': 'Suite 449', 'city': 'Bartholomebury', 'zipcode': '76495-3109', 'geo': {'lat': '24.6463', 'lng': '-168.8889'}}, 'phone': '(775)976-6794 x41206', 'website': 'conrad.com', 'company': {'name': 'Yost and Sons', 'catchPhrase': 'Switchable contextually-based project', 'bs': 'aggregate real-time technologies'}}, {'id': 10, 'name': 'Clementina DuBuque', 'username': 'Moriah.Stanton', 'email': 'Rey.Padberg@karina.biz', 'address': {'street': 'Kattie Turnpike', 'suite': 'Suite 198', 'city': 'Lebsackbury', 'zipcode': '31428-2261', 'geo': {'lat': '-38.2386', 'lng': '57.2232'}}, 'phone': '024-648-3804', 'website': 'ambrose.net', 'company': {'name': 'Hoeger LLC', 'catchPhrase': 'Centralized empowering task-force', 'bs': 'target end-to-end models'}}]

In [16]:
# Format data better using indent = 2
# e.g. print(json.dumps(data, indent = 2))

In [19]:
print(json.dumps(data, indent = 2))

[
  {
    "id": 1,
    "name": "Leanne Graham",
    "username": "Bret",
    "email": "Sincere@april.biz",
    "address": {
      "street": "Kulas Light",
      "suite": "Apt. 556",
      "city": "Gwenborough",
      "zipcode": "92998-3874",
      "geo": {
        "lat": "-37.3159",
        "lng": "81.1496"
      }
    },
    "phone": "1-770-736-8031 x56442",
    "website": "hildegard.org",
    "company": {
      "name": "Romaguera-Crona",
      "catchPhrase": "Multi-layered client-server neural-net",
      "bs": "harness real-time e-markets"
    }
  },
  {
    "id": 2,
    "name": "Ervin Howell",
    "username": "Antonette",
    "email": "Shanna@melissa.tv",
    "address": {
      "street": "Victor Plains",
      "suite": "Suite 879",
      "city": "Wisokyburgh",
      "zipcode": "90566-7771",
      "geo": {
        "lat": "-43.9509",
        "lng": "-34.4618"
      }
    },
    "phone": "010-692-6593 x09125",
    "website": "anastasia.net",
    "company": {
      "name": "Deckow-Crist",
      "catchPhrase": "Proactive didactic contingency",
      "bs": "synergize scalable supply-chains"
    }
  },
  {
    "id": 3,
    "name": "Clementine Bauch",
    "username": "Samantha",
    "email": "Nathan@yesenia.net",
    "address": {
      "street": "Douglas Extension",
      "suite": "Suite 847",
      "city": "McKenziehaven",
      "zipcode": "59590-4157",
      "geo": {
        "lat": "-68.6102",
        "lng": "-47.0653"
      }
    },
    "phone": "1-463-123-4447",
    "website": "ramiro.info",
    "company": {
      "name": "Romaguera-Jacobson",
      "catchPhrase": "Face to face bifurcated interface",
      "bs": "e-enable strategic applications"
    }
  },
  {
    "id": 4,
    "name": "Patricia Lebsack",
    "username": "Karianne",
    "email": "Julianne.OConner@kory.org",
    "address": {
      "street": "Hoeger Mall",
      "suite": "Apt. 692",
      "city": "South Elvis",
      "zipcode": "53919-4257",
      "geo": {
        "lat": "29.4572",
        "lng": "-164.2990"
      }
    },
    "phone": "493-170-9623 x156",
    "website": "kale.biz",
    "company": {
      "name": "Robel-Corkery",
      "catchPhrase": "Multi-tiered zero tolerance productivity",
      "bs": "transition cutting-edge web services"
    }
  },
  {
    "id": 5,
    "name": "Chelsey Dietrich",
    "username": "Kamren",
    "email": "Lucio_Hettinger@annie.ca",
    "address": {
      "street": "Skiles Walks",
      "suite": "Suite 351",
      "city": "Roscoeview",
      "zipcode": "33263",
      "geo": {
        "lat": "-31.8129",
        "lng": "62.5342"
      }
    },
    "phone": "(254)954-1289",
    "website": "demarco.info",
    "company": {
      "name": "Keebler LLC",
      "catchPhrase": "User-centric fault-tolerant solution",
      "bs": "revolutionize end-to-end systems"
    }
  },
  {
    "id": 6,
    "name": "Mrs. Dennis Schulist",
    "username": "Leopoldo_Corkery",
    "email": "Karley_Dach@jasper.info",
    "address": {
      "street": "Norberto Crossing",
      "suite": "Apt. 950",
      "city": "South Christy",
      "zipcode": "23505-1337",
      "geo": {
        "lat": "-71.4197",
        "lng": "71.7478"
      }
    },
    "phone": "1-477-935-8478 x6430",
    "website": "ola.org",
    "company": {
      "name": "Considine-Lockman",
      "catchPhrase": "Synchronised bottom-line interface",
      "bs": "e-enable innovative applications"
    }
  },
  {
    "id": 7,
    "name": "Kurtis Weissnat",
    "username": "Elwyn.Skiles",
    "email": "Telly.Hoeger@billy.biz",
    "address": {
      "street": "Rex Trail",
      "suite": "Suite 280",
      "city": "Howemouth",
      "zipcode": "58804-1099",
      "geo": {
        "lat": "24.8918",
        "lng": "21.8984"
      }
    },
    "phone": "210.067.6132",
    "website": "elvis.io",
    "company": {
      "name": "Johns Group",
      "catchPhrase": "Configurable multimedia task-force",
      "bs": "generate enterprise e-tailers"
    }
  },
  {
    "id": 8,
    "name": "Nicholas Runolfsdottir V",
    "username": "Maxime_Nienow",
    "email": "Sherwood@rosamond.me",
    "address": {
      "street": "Ellsworth Summit",
      "suite": "Suite 729",
      "city": "Aliyaview",
      "zipcode": "45169",
      "geo": {
        "lat": "-14.3990",
        "lng": "-120.7677"
      }
    },
    "phone": "586.493.6943 x140",
    "website": "jacynthe.com",
    "company": {
      "name": "Abernathy Group",
      "catchPhrase": "Implemented secondary concept",
      "bs": "e-enable extensible e-tailers"
    }
  },
  {
    "id": 9,
    "name": "Glenna Reichert",
    "username": "Delphine",
    "email": "Chaim_McDermott@dana.io",
    "address": {
      "street": "Dayna Park",
      "suite": "Suite 449",
      "city": "Bartholomebury",
      "zipcode": "76495-3109",
      "geo": {
        "lat": "24.6463",
        "lng": "-168.8889"
      }
    },
    "phone": "(775)976-6794 x41206",
    "website": "conrad.com",
    "company": {
      "name": "Yost and Sons",
      "catchPhrase": "Switchable contextually-based project",
      "bs": "aggregate real-time technologies"
    }
  },
  {
    "id": 10,
    "name": "Clementina DuBuque",
    "username": "Moriah.Stanton",
    "email": "Rey.Padberg@karina.biz",
    "address": {
      "street": "Kattie Turnpike",
      "suite": "Suite 198",
      "city": "Lebsackbury",
      "zipcode": "31428-2261",
      "geo": {
        "lat": "-38.2386",
        "lng": "57.2232"
      }
    },
    "phone": "024-648-3804",
    "website": "ambrose.net",
    "company": {
      "name": "Hoeger LLC",
      "catchPhrase": "Centralized empowering task-force",
      "bs": "target end-to-end models"
    }
  }
]

In [17]:
# Print 
# use loop in data and print the required data!
# for user in data: ...

In [21]:
for user in data:
    print(user["name"], user["phone"], user["address"]["geo"])

Leanne Graham 1-770-736-8031 x56442 {'lat': '-37.3159', 'lng': '81.1496'}
Ervin Howell 010-692-6593 x09125 {'lat': '-43.9509', 'lng': '-34.4618'}
Clementine Bauch 1-463-123-4447 {'lat': '-68.6102', 'lng': '-47.0653'}
Patricia Lebsack 493-170-9623 x156 {'lat': '29.4572', 'lng': '-164.2990'}
Chelsey Dietrich (254)954-1289 {'lat': '-31.8129', 'lng': '62.5342'}
Mrs. Dennis Schulist 1-477-935-8478 x6430 {'lat': '-71.4197', 'lng': '71.7478'}
Kurtis Weissnat 210.067.6132 {'lat': '24.8918', 'lng': '21.8984'}
Nicholas Runolfsdottir V 586.493.6943 x140 {'lat': '-14.3990', 'lng': '-120.7677'}
Glenna Reichert (775)976-6794 x41206 {'lat': '24.6463', 'lng': '-168.8889'}
Clementina DuBuque 024-648-3804 {'lat': '-38.2386', 'lng': '57.2232'}

In [18]:
# improve aoutput using indent = 2
# Create array containing fields name, phone, geo (lat & lng) and print it nice format
# output_data = []
# for user in data: ...

In [43]:
data_output = []
for user in data:
    user_data = {}
    user_data["name"] = user["name"]
    user_data["phone"] = user["phone"]
    user_data["geo"] = user["address"]["geo"]
    data_output.append(user_data)

print(json.dumps(data_output, indent = 2))

with open('user_data.json', 'w') as f:
        json.dump(data_output, f)

# Read previously created user data file in JSON
df3 = pd.read_json('user_data.json')
df3

[
  {
    "name": "Leanne Graham",
    "phone": "1-770-736-8031 x56442",
    "geo": {
      "lat": "-37.3159",
      "lng": "81.1496"
    }
  },
  {
    "name": "Ervin Howell",
    "phone": "010-692-6593 x09125",
    "geo": {
      "lat": "-43.9509",
      "lng": "-34.4618"
    }
  },
  {
    "name": "Clementine Bauch",
    "phone": "1-463-123-4447",
    "geo": {
      "lat": "-68.6102",
      "lng": "-47.0653"
    }
  },
  {
    "name": "Patricia Lebsack",
    "phone": "493-170-9623 x156",
    "geo": {
      "lat": "29.4572",
      "lng": "-164.2990"
    }
  },
  {
    "name": "Chelsey Dietrich",
    "phone": "(254)954-1289",
    "geo": {
      "lat": "-31.8129",
      "lng": "62.5342"
    }
  },
  {
    "name": "Mrs. Dennis Schulist",
    "phone": "1-477-935-8478 x6430",
    "geo": {
      "lat": "-71.4197",
      "lng": "71.7478"
    }
  },
  {
    "name": "Kurtis Weissnat",
    "phone": "210.067.6132",
    "geo": {
      "lat": "24.8918",
      "lng": "21.8984"
    }
  },
  {
    "name": "Nicholas Runolfsdottir V",
    "phone": "586.493.6943 x140",
    "geo": {
      "lat": "-14.3990",
      "lng": "-120.7677"
    }
  },
  {
    "name": "Glenna Reichert",
    "phone": "(775)976-6794 x41206",
    "geo": {
      "lat": "24.6463",
      "lng": "-168.8889"
    }
  },
  {
    "name": "Clementina DuBuque",
    "phone": "024-648-3804",
    "geo": {
      "lat": "-38.2386",
      "lng": "57.2232"
    }
  }
]

,name,phone,geo
0,Leanne Graham,1-770-736-8031 x56442,"{'lat': '-37.3159', 'lng': '81.1496'}"
1,Ervin Howell,010-692-6593 x09125,"{'lat': '-43.9509', 'lng': '-34.4618'}"
2,Clementine Bauch,1-463-123-4447,"{'lat': '-68.6102', 'lng': '-47.0653'}"
3,Patricia Lebsack,493-170-9623 x156,"{'lat': '29.4572', 'lng': '-164.2990'}"
4,Chelsey Dietrich,(254)954-1289,"{'lat': '-31.8129', 'lng': '62.5342'}"
5,Mrs. Dennis Schulist,1-477-935-8478 x6430,"{'lat': '-71.4197', 'lng': '71.7478'}"
6,Kurtis Weissnat,210.067.6132,"{'lat': '24.8918', 'lng': '21.8984'}"
7,Nicholas Runolfsdottir V,586.493.6943 x140,"{'lat': '-14.3990', 'lng': '-120.7677'}"
8,Glenna Reichert,(775)976-6794 x41206,"{'lat': '24.6463', 'lng': '-168.8889'}"
9,Clementina DuBuque,024-648-3804,"{'lat': '-38.2386', 'lng': '57.2232'}"